# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# IDE settings
.vscode/

# Raw downloaded NFL data
data/raw/

# Temporary files
*.tmp
*.log